*

!LICENSE
!.gitignore
!.gitmodules
!requirements.txt
!SConstruct

!godot-cpp/

!src/
!src/simplex.hpp
!src/simplex.cpp
!src/distutils.hpp
!src/distutils.cpp
!src/register_types.hpp
!src/register_types.cpp

!demo/
!demo/gdexample.gdextension
