*

!LICENSE
!README.md
!.gitignore
!.gitmodules
!SConstruct
!build.ps1

!godot-cpp/

!src/
!src/simplex.hpp
!src/simplex.cpp
!src/support.hpp
!src/support.cpp
!src/geomops.hpp
!src/geomops.cpp
!src/register_types.hpp
!src/register_types.cpp

!addons/
!addons/geomops/
!addons/geomops/geomops.gdextension
!addons/geomops/lib/
!addons/geomops/lib/libgeomops.windows.template_debug.x86_64.dll
!addons/geomops/lib/libgeomops.windows.template_release.x86_64.dll

!demo/
!demo/project.godot
!demo/icon.svg
!demo/main.tscn
!demo/main.gd
!demo/addons/
!demo/addons/geomops/
!demo/addons/geomops/geomops.gdextension
!demo/addons/geomops/lib/
!demo/addons/geomops/lib/libgeomops.windows.template_debug.x86_64.dll
!demo/addons/geomops/lib/libgeomops.windows.template_release.x86_64.dll
